<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

  <a href="{% url 'cadastrar_casa' %}"><button>Cadastrar</button></a>
  <br>
    {% for casa in object_list %}
        <h2>
        <label>valor: </label>
        {{ casa.valor }}
        </h2>
        <h2>
        <label>endereco: </label>
        {{ casa.endereco }}
        </h2>
        <h2>
        <label>donos: </label>
            {% for dono in casa.dono.all %}

            {{ dono }},
            {% endfor %}
            <br>
            <a href="{% url 'alterar_casa' casa.pk%}"><button>Alterar</button></a>
            <a href="{% url 'deletar_casa' casa.pk%}"><button>Deletar</button></a>

        </h2>
    <hr>
    <br>

    {% endfor %}

    
  </body>
</html>
